<ion-content>
    <ion-item>
        <ion-label class="title margin-top-10" text-center>{{'NOTIFICATION' | translate}}</ion-label>
        <button ion-button icon-only clear item-right (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-item>
    <!-- <div class="hr"> </div> -->
    <ion-list *ngIf="notificationList?.length > 0; else notNotifications">
        <ion-item text-wrap *ngFor="let notification of notificationList; let i = index;">
            <button ion-button icon-only clear item-right (click)="deleteNotification(i);">
                <ion-icon name="close"></ion-icon>
            </button>
            {{notification}}
        </ion-item>
    </ion-list>
</ion-content>

<ng-template #notNotifications>
    <ion-label text-wrap class="text-muted notNotifications margin-top-10" text-center> {{ 'NOT-NOTIFICATION' | translate }}</ion-label>
</ng-template>