<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding text-center>

    <!-- Imagen-->
    <div>
        <img [src]="'assets/imgs/banner.png'" alt="your image" class="image-banner">
    </div>

    <div class="wrapper">
        <!-- Boton Facebook-->
        <ion-row>
            <button round full ion-button col-lg-8 col-md-8 icon-start class="button-facebook"
                (click)="loginFacebook();">
                <ion-icon name="logo-facebook"></ion-icon>
                {{ 'LOGIN-FACEBOOK' | translate}}
            </button>
        </ion-row>

        <!-- Boton Google-->

        <ion-row>
            <button round full ion-button icon-start col-lg-8 col-md-8 color="danger" (click)="loginGoogle(); ">
                <ion-icon name="logo-google"></ion-icon>
                {{ 'LOGIN-GOOGLE' | translate}}
            </button>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input [(ngModel)]="emailSelected"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <button round full ion-button icon-start color="danger" (click)="loginFake(); ">
                    LOGIN FAKE
                </button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>