.hour {
    border-radius: 6px;
    padding: 0.3em 0.6em;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
}

.divHour {
    width: 30%;
    display: inline-block;
}

.titleSlider {
    font-weight: bold;
    color: #488AFF;
}