<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding text-center class="backgound-image">
    <ion-row>
        <ion-slides #createAppointmentSlider>
            <!-- SLIDER 1-->
            <ion-slide>

                <div class="wrapper">
                    <ion-row>
                        <ion-label col-md-10 col-lg-10 class="titleSlider"> {{ 'BOOKING-APPOINTMENT' | translate}}
                        </ion-label>
                    </ion-row>

                    <form [formGroup]="formCreateAppointment" (ngSubmit)="createAppointment();">
                        <!-- SELECT DE LOS PELUQUEROS -->
                        <ion-row *ngIf="hairdresserList?.length > 0" class="margin-top-5">
                            <ion-item col-md-10 col-lg-10>
                                <ion-label floating>{{ 'SELECT-HAIRDRESSER' | translate}}</ion-label>
                                <ion-select formControlName="hairdresser" [(ngModel)]="hairdresser"
                                    (ionChange)="getServicesByHairdresser($event);">
                                    <ion-option *ngFor="let hairdresser of hairdresserList" [value]="hairdresser">
                                        {{ hairdresser.name}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-row>
                        <!-- SELECT DE LOS TIPOS DE SERVICO -->
                        <ion-row class="margin-top-5">
                            <ion-item col-md-10 col-lg-10>
                                <ion-label floating>{{ 'SELECT-SERVICE' | translate}}</ion-label>
                                <ion-select [disabled]="!formCreateAppointment.get('hairdresser').valid"
                                    formControlName="service" [(ngModel)]="service">
                                    <ion-option *ngFor="let service of serviceList" [value]="service">
                                        {{ service.name}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-row>
                        <!-- BOTON QUE CONSULTA LA DISPONIBILIDAD Y VA A LA OTRA PESTAÑA -->
                        <ion-row>
                            <button col-md-10 col-lg-10 full class="margin-top-10" ion-button
                                [disabled]="!formCreateAppointment.get('service').valid" round type="button"
                                (click)="setAvailabilityAndNextSlide();">
                                {{ 'BUTTON-AVAILABITY' | translate}}
                            </button>
                        </ion-row>
                        <!-- CAMPO DEL EMAIL -->
                        <ion-row hidden>
                            <ion-item>
                                <ion-input formControlName="email"></ion-input>
                            </ion-item>
                        </ion-row>
                    </form>
                </div>
            </ion-slide>
            <!-- SLIDER 2 -->
            <ion-slide>
                <div class="wrapper">
                    <ion-label class="titleSlider" col-md-10 col-lg-10> {{ 'SCHEDULES' | translate}} </ion-label>

                    <ion-label class="bold margin-top-10" col-md-10 col-lg-10>
                        {{ 'HAIRDRESSER' | translate }} : {{ hairdresser?.name }}
                    </ion-label>

                    <ion-label class="bold" col-md-10 col-lg-10>
                        {{ 'SERVICE' | translate }}: {{ service?.name }}
                    </ion-label>

                    <!-- CALENDARIO -->
                    <ion-row class="margin-top-10">
                        <ion-item col-md-10 col-lg-10>
                            <ion-label stacked>{{ 'SELECTED_DATE' | translate}}</ion-label>
                            <ion-input [(ngModel)]="dateSelected" readonly="true"></ion-input>
                            <button ion-button type="button" item-right clear large icon-only (click)="openCalendar()">
                                <ion-icon name="calendar"></ion-icon>
                            </button>
                        </ion-item>
                    </ion-row>

                    <!-- HORARIOS DE LA MAÑANA-->
                    <ion-row class="bold margin-top-10" text-left>
                        <ion-label col-md-10 col-lg-10>{{ 'MORNING' | translate}}</ion-label>
                    </ion-row>

                    <ng-container *ngIf="hourAvailability.morning.length != 0; else notSchedules">
                        <div *ngFor="let hour of hourAvailability.morning;" class="divHour">
                            <ion-label col-md-10 col-lg-10 (click)="nextSlider3(hour);" class="hour">{{hour}}
                            </ion-label>
                        </div>
                    </ng-container>

                    <!-- HORARIOS DE LA TARDE-->
                    <ion-row class="bold" text-left>
                        <ion-label col-md-10 col-lg-10>{{ 'AFTERNOON' | translate}}</ion-label>
                    </ion-row>

                    <ng-container *ngIf="hourAvailability.afternoon.length != 0; else notSchedules">
                        <div *ngFor="let hour of hourAvailability.afternoon" class="divHour">
                            <ion-label col-md-10 col-lg-10 (click)="nextSlider3(hour);" class="hour">{{hour}}
                            </ion-label>
                        </div>
                    </ng-container>

                    <!-- TEMPLATE PARA PINTAR LAS CITAS-->
                    <ng-template #notSchedules>
                        <ion-label col-md-10 col-lg-10 class="text-muted bold" text-left>
                            {{ 'NOT_SCHEDULES' | translate }} </ion-label>
                    </ng-template>
                </div>
            </ion-slide>

            <!-- SLIDER 3 -->
            <ion-slide>
                <div class="wrapper">
                    <ion-label class="titleSlider" col-md-10 col-lg-10> {{ 'BOOKING-APPOINTMENT' | translate}} </ion-label>

                    <ion-label class="bold margin-top-10" col-md-10 col-lg-10>
                        {{ fullDate }}
                    </ion-label>

                    <ion-label class="bold" col-md-10 col-lg-10>
                        {{ 'HAIRDRESSER' | translate }} : {{ hairdresser?.name }}
                    </ion-label>

                    <ion-label class="bold" col-md-10 col-lg-10>
                        {{ 'SERVICE' | translate }}: {{ service?.name }}
                    </ion-label>

                    <!-- boton para crear la reserva-->
                    <ion-row class="margin-top-10" col-md-10 col-lg-10>
                        <button ion-button full round type="button" (click)="createAppointment();">
                            {{ 'BUTTON_CREATE_APPOINTMENT' | translate}}
                        </button>
                    </ion-row>

                    <!-- boton para modificar la reserva-->
                    <ion-row class="margin-top-10" col-md-10 col-lg-10>
                        <button ion-button full round type="button" (click)="goToFirstSlide();">
                            {{ 'BOOKING-MODIFY' | translate}}
                        </button>
                    </ion-row>
                </div>
            </ion-slide>

        </ion-slides>
    </ion-row>
</ion-content>