<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding text-center class="backgound-image">
    <div class="wrapper">
        <form-client [client]="client" (sendFormListener)="createClient($event);"></form-client>
    </div>
</ion-content>