<ion-tabs selectedIndex="{{selectedIndex}}">

    <!-- TAB APPOITNMENTS ADMIN-->
    <ion-tab show="{{isAdmin}}" enabled="{{isAdmin}}" [root]="tabAppointmentAdmin" [tabTitle]=" 'TAB-APPOINTMENTS' | translate"
        tabIcon="calendar" [rootParams]="client"></ion-tab>

    <!-- TAB CREATE APPOINTMENT ADMIN-->
    <ion-tab show="{{isAdmin}}" enabled="{{isAdmin}}" [root]="tabAppointmentCreateAdminPage" [tabTitle]=" 'TAB-CREATE-APPOINTMENT' | translate"
        tabIcon="alarm" [rootParams]="client"></ion-tab>

    <!-- TAB APPOITNMENTS USER-->
    <ion-tab show="{{!isAdmin}}" enabled="{{!isAdmin}}" [root]="tabAppointmentUser" [tabTitle]=" 'TAB-APPOINTMENTS' | translate"
        tabIcon="calendar" [rootParams]="client"></ion-tab>

    <!-- TAB CREATE APPOINTMENT USER-->
    <ion-tab show="{{!isAdmin}}" enabled="{{!isAdmin}}" [root]="tabAppointmentCreate" [tabTitle]=" 'TAB-CREATE-APPOINTMENT' | translate"
        tabIcon="alarm" [rootParams]="client"></ion-tab>

    <!-- TAB PROFILE -->
    <ion-tab [root]="tabProfile" [tabTitle]=" 'TAB-PROFILE' | translate" tabIcon="contact" [rootParams]="client"></ion-tab>

    <!-- TAB HOLIDAYS (ADMIN) -->
    <ion-tab show="{{isAdmin}}" enabled="{{isAdmin}}" [root]="tabNotWorkDaysPage" [tabTitle]=" 'TAB-HOLIDAY' | translate"
        tabIcon="images" [rootParams]="client"></ion-tab>

     <!-- TAB CANCEL APPOINTMENT MASSIVE LOAD (ADMIN)   -->
     <ion-tab show="{{isAdmin}}" enabled="{{isAdmin}}" [root]="tabCancelAppointmentMassive" [tabTitle]=" 'TAB-CANCEL-APPOINTMENT-MASSIVE' | translate"
     tabIcon="close" [rootParams]="client"></ion-tab>  

</ion-tabs>