<ion-header>
    <app-header></app-header>
</ion-header>


<ion-content padding class="backgound-image">

    <div class="wrapper">
        <form [formGroup]="form">
            <ion-row class="margin-top-5" col-md-10 col-lg-10>
                <ion-label text-center class="bold">{{ 'LABEL-CANCEL-APPOINTMENT'| translate }}</ion-label>
            </ion-row>

            <ion-row>
                <calendar-component col-md-10 col-lg-10 [maxTime]='4' (sendEventCalendar)="setDate($event)"></calendar-component>
            </ion-row>

            <ion-label col-md-10 col-lg-10 class="bold">{{ 'REASON-CANCEL-APPOINTMENT'| translate }}</ion-label>
            <ion-item col-md-10 col-lg-10>
                <ion-textarea formControlName="reason" #areaReason rows="1" maxLength="500" (keyup)="resize()">
                </ion-textarea>
            </ion-item>

            <ion-row class="margin-top-5">
                <button ion-button col-md-10 col-lg-10 full color="danger" round (click)="showConfirmCancelAppointments();"
                    [disabled]="form.invalid">
                    {{ 'BUTTON-CANCEL-MASIVE-APPONINTMENT' | translate }}
                </button>
            </ion-row>
        </form>
    </div>
</ion-content>