<ion-card *ngFor="let appointment of appointments" col-lg-10 col-md-10>
    <ion-card-header class="card-header">
        <ion-row>
            <ion-col col-8>
                <ion-label color="primary" class="date-card-title">{{ appointment.date}} </ion-label>
            </ion-col>
            <ion-col col-4>
                <ion-label class="button-state-card" [ngClass]="appointment.state == 'ACTIVA'? 'enabled': 'disabled'">
                    {{appointment.state}}
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-content class="card-content">
        <!-- sI ES ADMINISTRADOR SE MUESTRA EL NOMBRE Y APELLIDO -->
        <ion-label class="card-content-name" *ngIf="isAdmin">{{ appointment.name}} {{appointment.surname}}</ion-label>
        <ion-label class="card-content-detail">{{ appointment.hairdresserName}} - {{appointment.serviceName}}</ion-label>
        <ion-item *ngIf="appointment.state == 'ACTIVA'" class="card-content-actions">
            <!-- Botón para cancelar la cita -->
            <ion-label (click)="showConfirmCancelAppointment(appointment.id);">
                <ion-icon name="remove-circle"></ion-icon> {{ 'BUTTON-CANCEL' | translate }}
            </ion-label>
            <!-- Botón para finalizar la cita (solo para peluqueros) -->
            <ion-label *ngIf="isAdmin" item-right text-right (click)="emitFinishAppointment(appointment.id)">
                <ion-icon name="backspace"></ion-icon> {{ 'BUTTON-FINISH' | translate }}
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>