.state-tag {
    border-radius: 6px;
    font-size:10px;
    margin-right: 0px;
    color: #fff;
    padding: 0.3em 0.6em;
    text-align: center;
    line-height: 10px;
}

.enabled {
    background-color: #32db64;
}

.disabled {
    background-color: #f53d3d;
}

.button-state-card {
    border-radius: 6px;
    font-size:10px;
    margin-right: 0px;
    color: #fff;
    padding: 0.3em 0.6em;
    text-align: center;
}

.date-card-title {
    font-size:14px !important;
}

.card-header {
    padding: 0px 6px 0px 7px;
    height: 45px;
    border-bottom: solid 1px #DDDDDD;
}

.card-content {
    padding: 0px 16px;
}

.card-content-name {
    font-size: 13px;
    margin-bottom: 2px;
    color: #9E9E9E;
}

.card-content-detail {
    font-size: 15px;
}

.card-content-actions {
    padding: 0px !important;
}

