<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding class="backgound-image">

    <div class="wrapper">
        <!-- FORMULARIO DEL CLIENTE-->
        <form-client [client]="client" (sendFormListener)="modifyClient($event);"></form-client>

        <!-- Botón de darse de baja-->
        <ion-row>
            <ion-col>
                <button round full col-md-10 col-lg-10 ion-button color="danger" (click)="showConfirmLockClient(); ">
                    {{ 'BUTTON-LOCK-CLIENT' | translate}}
                </button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>