<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content padding class="backgound-image">

  <div class="wrapper">

    <ion-row class="margin-top-10">
      <button round full ion-button col-md-5 col-lg-5 (click)="createHoliday = true;" class="margin-right-10">
        {{ 'Solicitar' | translate}}
      </button>
      <button round full ion-button col-md-5 col-lg-5 color="danger" (click)="createHoliday = false">
          {{ 'Cancelar' | translate}}
      </button>
    </ion-row>

    <ng-container *ngIf="!createHoliday;else caseHoliday">
      <!-- SELECT PARA SELECCIONAR EL MES -->
      <ion-item class="margin-top-5" col-md-10 col-lg-10>
        <ion-label floating> {{ 'Seleccione el mes' | translate}}</ion-label>
        <ion-select [(ngModel)]="monthSelected" (ionChange)="filtersDays();">
          <ion-option [value]="i+1" *ngFor="let month of months; let i = index">{{month}}</ion-option>
        </ion-select>
      </ion-item>

      <!-- SELECT PARA SELECCIONAR los días -->
      <ion-item class="margin-top-5" col-md-10 col-lg-10>
        <ion-label floating> {{ 'Seleccione los días' | translate}}</ion-label>
        <ion-select multiple="true" [(ngModel)]="daysSelected" [disabled]="daysFilter?.length <= 0">
          <ion-option [value]="day" *ngFor="let day of daysFilter;">{{day}}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button class="margin-top-10" col-md-10 col-lg-10 color="danger" [disabled]="daysSelected?.length <= 0"
        full round (click)="showConfirmCancelHolidays();">
        {{ 'CANCEL-HOLIDAY' | translate}}
      </button>
    </ng-container>


    <ng-template #caseHoliday>
      <ion-label col-md-10 col-lg-10 text-center class="bold margin-top-5">{{ 'LABEL-HOLIDAY'| translate }}</ion-label>

      <ion-calendar [(ngModel)]="dateRange" col-md-10 col-lg-10 [options]="optionsMulti" [type]="type"
        [format]="'YYYY-MM-DD'">
      </ion-calendar>

      <button ion-button col-md-10 col-lg-10 [disabled]="!dateRange" full round (click)="createHolidays();">
        {{ 'BUTTON-HOLIDAYS' | translate}}
      </button>

    </ng-template>
  </div>

</ion-content>