<form [formGroup]="formClient" (ngSubmit)="sendForm()">

    <ion-row class="margin-top-5">
        <ion-item col-md-10 col-lg-10>
            <ion-icon name="notifications" item-start></ion-icon>
            <ion-label>{{ 'NOTIFICATION'| translate }}</ion-label>
            <ion-toggle formControlName="notification"></ion-toggle>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item class="margin-top-5" col-md-10 col-lg-10>
            <ion-icon name="person" item-start></ion-icon>
            <ion-label floating>{{ 'NAME' | translate }}</ion-label>
            <ion-input formControlName="name" maxlength="20" type="text"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row class="margin-top-5">
        <ion-item col-md-10 col-lg-10>
            <ion-icon name="person" item-start></ion-icon>
            <ion-label floating>{{'SURNAME' | translate }}</ion-label>
            <ion-input formControlName="surname" maxlength="30" type="text"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row class="margin-top-5">
        <ion-item col-md-10 col-lg-10>
            <ion-icon name="phone-portrait" item-start></ion-icon>
            <ion-label floating>{{'PHONE' | translate}}</ion-label>
            <ion-input type="tel" formControlName="phone" maxlength="9"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row hidden>
        <ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            <ion-label stacked>{{'EMAIL' | translate}}</ion-label>
            <ion-input type="text" readonly="true" formControlName="email"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row class="margin-top-5">
        <button ion-button round full col-md-10 col-lg-10 type="submit" [disabled]="!formClient.valid">{{'BUTTON-SAVE' | translate}}</button>
    </ion-row>

</form>