<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding text-center class="backgound-image">

    <div class="wrapper">

        <!-- SearchBar para -->
        <ion-row col-md-10 col-lg-10>
            <ion-searchbar [(ngModel)]="phone" limit-to='9' type="tel" [placeholder]="'PHONE' | translate"
                (ionInput)="getClientByPhone($event)">
            </ion-searchbar>
        </ion-row>

        <form [formGroup]="formCreateAppointment" (ngSubmit)="createAppointment();">
            <!-- Nombre del cliente -->
            <ion-row class="margin-top-5">
                <ion-item col-lg-10 col-md-10>
                    <ion-label stacked>Cliente </ion-label>
                    <ion-input formControlName="name" readonly="true" type="text" [(ngModel)]="nameClient">
                    </ion-input>
                </ion-item>
            </ion-row>

            <!-- SELECT DE LOS TIPOS DE SERVICO -->
            <ion-row class="margin-top-5">
                <ion-item col-lg-10 col-md-10>
                    <ion-label floating>{{ 'SELECT-SERVICE' | translate}}</ion-label>
                    <ion-select formControlName="service" [(ngModel)]="serviceId" (ionChange)="setAvailability();">
                        <ion-option *ngFor="let service of serviceList" [value]="service.id">
                            {{ service.name}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-row>

            <!-- INPUT DATE (CUANDO SE HACE CLICK SE MUESTRA LA DISPONIBILIDAD CITAS) -->
            <!-- CALENDARIO -->
            <ion-row class="margin-top-5">
                <ion-item col-lg-10 col-md-10> 
                    <ion-label stacked>{{ 'SELECTED_DATE' | translate}}</ion-label>
                    <ion-input [(ngModel)]="dateSelected" formControlName="date" readonly="true"></ion-input>
                    <button ion-button type="button" [disabled]="!formCreateAppointment.get('service').valid" item-right
                        clear large icon-only (click)="openCalendar()">
                        <ion-icon name="calendar"></ion-icon>
                    </button>
                </ion-item>
            </ion-row>

            <!-- select de las horas -->
            <ion-row class="margin-top-5">
                <ion-item col-lg-10 col-md-10>
                    <ion-label floating>{{ 'SELECT-HORA' | translate}}</ion-label>
                    <ion-select [disabled]="allHours?.length <= 0" formControlName="hourAvailable">
                        <ion-option *ngFor="let hour of allHours" [value]="hour">
                            {{ hour}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-row>

            <!-- Campo del email -->
            <ion-row hidden>
                <ion-item>
                    <ion-input formControlName="email" [(ngModel)]="emailFind" readonly="true"></ion-input>
                </ion-item>
            </ion-row>

            <!-- ID DEL PELUQUERO-->
            <ion-row hidden>
                <ion-item>
                    <ion-input formControlName="hairdresser" readonly="true">
                        {{client.hairdresserId}}
                    </ion-input>
                </ion-item>
            </ion-row>

            <ion-row class="margin-top-5">
                <button ion-button full col-lg-10 col-md-10 round type="submit" [disabled]="!formCreateAppointment.valid">
                    {{ 'BUTTON_CREATE_APPOINTMENT' | translate}}
                </button>
            </ion-row>
        </form>

    </div>
</ion-content>