.text-muted {
    color: #6b808c;
    font-size: 15px;
}

.dayNotAvailability {
    background-color: #f53d3d !important;
    font-weight:bold;
}

.dayAvailability {
    background-color: #32db64 !important;
}

.margin-top-5 {
    margin-top:5%;
}
.margin-top-10 {
    margin-top: 10%;
}

.margin-right-10 {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

/*.toast-md .toast-wrapper {
    margin-bottom: 18%;
}*/

.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }

.font-size-15 {
    font-size: 15px;
}

.font-size-20 {
    font-size: 20px !important;
}

.backgound-image {
    //background-image: url('../assets/imgs/background-02.jpg');
    //background-image: linear-gradient(red, yellow);
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }


  @media (min-width: 768px) and (max-width: 1024px) {

    .wrapper {
        margin-left: 20%;
    }
  }