<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding>
    <!-- boton para buscar por teléfono -->
    <div class="wrapper">
        <ion-row col-md-10 col-lg-10>
            <ion-toolbar>
                <ion-searchbar [(ngModel)]="phone" limit-to='9' type="tel" [placeholder]="'PHONE' | translate"
                    (ionInput)="getAppointmentsByPhone($event)">
                </ion-searchbar>
                <ion-buttons end>
                    <button ion-button icon-only (click)='openCalendar()'>
                        <ion-icon name="calendar"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>
        <!-- TEXTO CUANDO NO HAY CITAS -->
        <div *ngIf="appointments?.length == 0;else appointmentCards" text-center>
            <ion-row>
                <p class="text-muted margin-top-10 font-size-20">{{'EMPTY-APPOINTMENTS-ADMIN' | translate }}</p>
            </ion-row>
        </div>

        <!-- TEMPLATE PARA PINTAR LAS CITAS-->
        <ng-template #appointmentCards>
            <appointment-card [appointments]="appointments" (finishAppointmentListener)="showConfirmFinishAppointment($event, appointmentSelected);">
            </appointment-card>
        </ng-template>
    </div>
</ion-content>