<ion-navbar #content color="dark">

    <ion-title text-center>{{ 'TITLE' | translate}}</ion-title>

    <!-- Botón de las notificaciones-->
    <ion-buttons end *ngIf="logged">
        <button ion-button icon-only clear (click)="showNotifications()">
            <ion-badge color="danger" *ngIf="notificationList?.length > 0">
                {{ notificationList.length }}
            </ion-badge>
            <ion-icon name="notifications"></ion-icon>
        </button>
        <button ion-button icon-only clear color="light" (click)="closeSession();">
            <ion-icon name="power"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>