button {
	ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
        opacity: 0.9;
		border-radius: 100% !important;

		& ~ ion-icon {
            margin-right: 1.2rem;
            border-radius: 100%;
		}
	}
}

.title {
    font-weight: bold;
	color: #488AFF;
}

.notNotifications {
	font-size: 20px !important;
}