<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content padding class="backgound-image">

    <div class="wrapper">
        <!-- EN CASO DE QUE NO EXISTAN CITAS-->
        <div *ngIf="appointments?.length == 0;else appointmentCards" text-center>
            <h3>{{ 'WELCOME' | translate:{ fullname: fullname} }}</h3>
            <div>
                <img [src]="'assets/imgs/banner.png'" alt="your image" class="image-banner">
            </div>
            <p class="text-muted">{{'WELCOME_NOT_APPOINTMENTS' | translate }}</p>
            <ion-row>
                <button ion-button full round (click)="navigateToCreateAppointment();">
                    {{ 'BUTTON_CREATE_APPOINTMENT' | translate }}
                </button>
            </ion-row>
        </div>
    </div>
    
    <!-- TEMPLATE PARA PINTAR LAS CITAS-->
    <ng-template #appointmentCards>
            <appointment-card [appointments]="appointments">
            </appointment-card>
    </ng-template>

</ion-content>